/* ----------------Member--------------- */
.user_top{padding:18px 0;vertical-align: middle;text-align: center;background:#060627 url("../images/user_top_bg.jpg") center no-repeat;background-size: 100% 100%;}
.user_top img{border-radius: 50%;border: 2px #fff solid;}
.user_top .user_name{margin-top: 10px;font-size:1.0rem;color: #fff;}
.user_top .user_name a{color: #fff;}
.user_top .user_name span{border: 1px #fff solid;padding:0px 3px;border-radius: 2px;margin-left: 10px;}
.user_top .user_account{color: #fff;margin-top: 30px;}
.user_top .user_account li{border-right: 1px #353e56 solid;}
.user_top .user_account li:nth-last-child(1){border-right: 0;}
.user_top .user_account i{display:block;color: #576998;font-size:.9rem;}

.user_menu ul{margin-bottom: 5px;background-color: #fff;}
.user_menu li{padding:15px 0px;border-bottom: 1px #e2ebfa solid;margin-left:15px;font-size: 1.0rem;}
.user_menu li:nth-last-child(1){border-bottom: 0;}
.user_menu li .iconfont{padding-right: 10px;}

.zb_top,.zb_list{margin:0 4% 4% 4%;background-color:#fff;}
.zb_top img{border-radius: 50%;}
.zb_top h2{color: #999;}
.zb_top h3{color: #31a2e6;font-size: 2.0rem;}
.zb_top em,.zb_top .useZb{color: #fff;font-size:.8rem;background-color: #31a2e6;text-align: center;height:32px;line-height:32px;width:92px;display:block;margin:0 auto;border-radius: 6px;}
.zb_top p{color: #f76b4b;}
.zb_top .attr{position: relative;}
.zb_top .attr i{width:30px;height:30px;position: absolute;left: 0;bottom: 0;background: url("../images/icon-zhuang.png")  no-repeat;background-size: 100% 100%;}
.zb_list .zb_list-tit li{border-bottom: 1px #f1f1f1 solid;padding:.6rem 0;font-size: 0.8rem;color: #666;}
.zb_list .zb_list-top li{border-bottom: 1px #f1f1f1 solid;padding:.8rem 0;font-size: 1.0rem;}
.zb_list .zb_list-top li.cur{border-bottom: 2px #69c2f8 solid;}
.zb_list .zb_list-mess{color: #333;}
.zb_list .zb_list-mess .list-tit{color: #999;}
.zb_list .zb_list-mess .list-mess ul:nth-of-type(odd){background-color: #eef3fa;}
.zb_list .zb_list-mess li:nth-last-child(1){text-align: left;}
.zb_list .zb_list-mess li{width: 25%;text-indent: 5px;padding:10px 0 !important;}
.zb-shuoming{padding: 15px;font-size: 1.0rem;padding-bottom:100px;background: url("../images/zb_xian.png") center bottom  no-repeat; background-size: 95%;}
.zb-shuoming .layer_close .iconfont{text-align: right;color: #000;}
.zb-shuoming .layer_close{text-align: right;}
.zb-shuoming h3{color: #666;}
.zb-shuoming h4{color: #666;}
.zb-shuoming p{color: #666;}
.zb-shuoming .iconfont{color: #4bb6f7;}

.num_list .cell{border-bottom: 1px solid #e5e5e5;background-color: #fff;}
.num_list .cell_bt{background-color: #eef3fa;color: #999;}

/* 线下支付记录 */
.order-info{background-color: #fff;text-align: center;padding-bottom: 30px;}
.order-info .info-at{text-align: left;background-color: #eef3fa;font-size: 1.0rem;color: #999;padding: 10px 5px;}
.order-info .info-bt{padding:10px 0;font-size: 1.0rem;color: #31a2e6;}
.order-info img{max-width: 94%;}
.order-manage{padding: 8% 6%;font-size: 1.0rem;}
.order-manage .formdl{padding-bottom: 15px}
.order-manage label{color: #999;}

/* 密码修改 */
.input-box{padding: 8% 6%;font-size: 1.0rem;}
.input-box .formdl{padding-bottom: 15px}
.input-box .formdl input[type=text],.input-box .formdl input[type=password]{width:100%; border:#e7e7e7 1px solid;border-radius: 4px; padding:3% 0; text-indent: 10px; font-size:14px; color:#999;background-color: #fff; margin-top: 6px;}
.input-box .formdl .btn{ width:100%;display:inline-block;text-align:center; background-color:#f76b4a; color:#fff;border-radius: 4px; border:0; font-size:18px; padding:3% 0; margin-top:5%;}

/* 资料修改 */
.input-box2{font-size: 1.0rem;}
.input-box2 .formdl{padding-bottom: 15px;}
.input-box2 .equal{background-color: #fff;}
.input-box2 .formdl dt{width:28%;}
.input-box2 .formdl dt,.input-box2 .formdl dd{border-bottom: 1px #d0dced solid;}
.input-box2 .formdl:nth-last-child(1) dt,.input-box2 .formdl:nth-last-child(1):nth-last-child(1) dd{border-bottom: 0;}
.input-box2 .formdl input[type=text],.input-box2 .formdl input[type=password]{width:100%; font-size:1.0rem;background-color: #fff;padding:6px 0;}
.input-box2 .btn{ width:100%;display:inline-block;text-align:center; background-color:#f76b4a; color:#fff;border-radius: 4px; border:0; font-size:18px; padding:3% 0; margin-top:5%;}

/* 收货地址 */
.addressList li{padding:10px;margin-bottom: 5px;background-color: #fff;font-size: 1.0rem;cursor:pointer;}
.addressList .editlistsub{padding: 6px 0;}
.addressList .address-row.active { background-color: #58bbf6;color: #fff;}
.addressList .address-row.active .mydefault{color: #fff;}
.addressList .editlist{border-top: 1px #e7e7e7 solid;padding: 15px 0;margin-top: 10px;}
.addressList .mydel,.addressList .myedit{background-color: #fff;border-radius: 4px;border: 1px #f1f1f1 solid;padding: 2px 18px;}
#actionBtn { background-color: #f76b4a; color: #fff; width: 100%; border: 0; position: fixed; height: 2.50rem; z-index: 9999; bottom: 0; font-size: 1.2rem; }


/*---------------------------我的装修-----------------------------*/

/*my-fixture*/
.fixture{padding:2% 3% 1%; background-color: #eef3fa;}
.fixture li{padding:2% 5%; background-color: #fff; margin-bottom: 3%}
.fixture li .wl{width: 30%;padding-right: 0 !important;}
.fixture li .wr{width: 70%;padding-left: 0 !important;}
.fixture li .fixture_ico{ width: 75px; border-radius: 5px; padding: 2%;padding-top: 15px; background-color: #4bb6f7;font-size:.8rem; line-height: 2em; color: #fff; text-align: center;}
.fixture li .fixture_ico .iconfont{ font-size: 1.8rem;}
.fixture li .fixture_info .name{ font-size: 1rem;margin-bottom: 5px;}
.fixture li .fixture_info .num{ color: #b3b3b3;font-size:.8rem;}
.fixture li .fixture_info .money{ width: 100%; margin-top:4.2%;color: #999; font-size: .8rem; text-align: right}
.fixture li .fixture_info .money span{ margin-left:5%; color: #f76b4a; font-size:1.0rem}

/*my-building*/
.building{ background-color: #eef3fa;}
.building_title{ padding:2% 3% 1%}
.building_title .name{ float:left; font-size: 1.8em; line-height:1.2em}
.building_title .name span{ font-size: 0.5em; color: #999;display: block; }
.building_title .visit{ float:right; background-color: #f76b4a; color: #fff;font-size: 1.2em; line-height:1.2em ;padding:10px 20px;border-radius:5px}
/*my-building_box*/
.building_box{ background-color: #fff; padding: 1% 3%; margin-bottom:1% }
.building_box .tit{ clear: both; padding-top: 5px}
.building_box .tit h2{ font-size: 1.6rem; color: #31a2e6; float: left}
.building_box .tit h2 .iconfont{ color: #fff;background-color: #31a2e6;padding:3px;border-radius: 4px;font-size: 1.2rem;margin-right: 5px;}
.building_box .tit .date{ font-size: 1.2em; line-height: 3em; color: #999; float: right}
.building_box img{width: 100%}
.building_box .more{ display: block;width:80px; margin: 0 auto; color: #999; text-align: center; font-size: 1.2em; line-height: 2em;}

/*my-fixture-detailed*/
.fixture_detailed{ }
.form-left{width: 20%}
.form-right{width: 70%}
.fixture_detailed .fd_head{padding:2% 3% 2%; line-height:1.8em; color: #999; font-size: 1.2em; border-bottom: #eef3fa 1px solid}
.fixture_detailed .fd_head .title{float: left; color: #333; font-size: 1.5em; line-height:2em;}
.fixture_detailed .fd_head .sign{ float: right; color: #4bb6f7; font-size: 1.2em; line-height:2.5em;}
.fixture_detailed .fd_head .amount{color: #999; font-size: 1.2em}
.fixture_detailed .fd_head .amount span{color: #f76b4a;}
.fixture_detailed .fd_head .name span{ margin-right:20px}
/**/
.fixture_detailed .fd_stage{padding:6% 5% 6%;}
.fixture_detailed .fd_stage .stage_ion{border-radius: 20px; text-align: center; font-size: 1.2em;}
.fixture_detailed .fd_stage .stage_ion .iconfont{background-color: #3aa6e7;color:#fff;font-size:1.4rem;border-radius: 16px;padding: 8px 10px;}
.fixture_detailed .fd_stage .stage_ion.c_gray .iconfont{background-color: #ccc;}
.fixture_detailed .fd_stage .stage_ion.c_gray p{color: #ccc;}
.fixture_detailed .fd_stage .stage_ion p{padding-top: 14px;color: #333;}
.fixture_detailed .fd_stage ul li:nth-child(1){ margin-left: 0; }
/*-装修订单步骤-*/
.fixture_detailed .fd_speed{ padding:2% 3% 3%;border-top: solid 20px #eef3fa; color: #999}
.fixture_detailed .fd_speed .title{ text-align: center; font-size: 2em; margin-bottom:20px}
.fixture_detailed .fd_speed .step li{ margin-bottom: 54px; text-align: right; font-size: .8rem}
.fixture_detailed .fd_speed .step .complete{color: #4bb6f7}
.fixture_detailed .fd_speed .step_ico{background:no-repeat  right; width: 30px;; height: 300px; }
.fixture_detailed .fd_speed .step_ico li:nth-child(1){ width: 30px; height: 25px;}
.fixture_detailed .fd_speed .step_ico li:nth-child(1).step_ico_3a{background-position:-232px 25px}
.fixture_detailed .fd_speed .step_ico li:nth-child(1).step_ico_2a{background-position:-266px 25px}
.fixture_detailed .fd_speed .step_ico_1a,.fixture_detailed .fd_speed .step_ico_1b,.fixture_detailed .fd_speed .step_ico_2a,.fixture_detailed .fd_speed .step_ico_2b,.fixture_detailed .fd_speed .step_ico_3a,.fixture_detailed .fd_speed .step_ico_3b{ width: 30px; height: 70px;background-image: url("../images/speed_ico.png");}
.fixture_detailed .fd_speed .step_ico_1a{ background-position:0 25px;}
.fixture_detailed .fd_speed .step_ico_1b{background-position:0 -14px;}
.fixture_detailed .fd_speed .step_ico_2a{ background-position:-100px -14px;}
.fixture_detailed .fd_speed .step_ico_2b{ background-position:-67px -14px;}
.fixture_detailed .fd_speed .step_ico_3a{ background-position:-133px -14px;}
.fixture_detailed .fd_speed .step_ico_3b{ background-position:-33px -14px;}
/*-装修订单内容-*/
.fixture_detailed .fd_speed .content{ /* width: 100%;float: left;margin-left:1%; */padding:1.5%; border: 1px #eef3fa solid}
.fixture_detailed .fd_speed .content .tit{ background-color: #eef3fa; padding: 8px 10px}
.fixture_detailed .fd_speed .content .tit .name{ color: #666; font-size: 1.5em}
.fixture_detailed .fd_speed .content .tit .time{ float: right; line-height: 2em}
/*-合同-*/
.fixture_detailed .fd_speed .content .agreement{ font-size: 1.3em; line-height: 1.8em;text-align:justify}
.fixture_detailed .fd_speed .content .agreement h3{ text-align: center; line-height:3em}
.fixture_detailed .fd_speed .content .agreement a{ text-align: center; font-size: 1.0rem; color: #fff; background-color: #4bb6f7; line-height:2.8em;border-radius:5px; margin: 15px auto 5px; display: block; }

/*-阶段-*/
.fixture_detailed .fd_speed .content .list li{ font-size: 1.0rem;padding: 4px 0; border-bottom: solid 1px #eef3fa;overflow: hidden;}
.fixture_detailed .fd_speed .content .list  .check{ color: #999}
.fixture_detailed .fd_speed .content .list  .check p{font-size: 0.8rem;color:#a0a0a0;line-height: 1.2rem}
.fixture_detailed .fd_speed .content .list  .notcheck{color: #4bb6f7}
.fixture_detailed .fd_speed .content .list a{ width: 100px;  text-align: center; float: right; line-height: 2em; border-radius:5px;background-color: #4bb6f7; color: #fff }
.fixture_detailed .fd_speed .content .list .check a{ background-color: #eee; color: #666}
.fixture_detailed .fd_speed .content li .allSure{ background-color: #4bb6f7; color: #fff; line-height:2.8em; padding:0 36px;border-radius:5px; margin: 15px auto 5px; display: block; float: none}
.fixture_detailed .fd_speed .content li:nth-last-child(1){ border: 0; }
.fixture_detailed .fd_speed .content .allTotal .sum{ padding: 20px 0; float: left; color: #999;  font-size:0.8em; line-height: 2em;}
.fixture_detailed .fd_speed .content .allTotal .sum p{ color: #f76b4a; font-size: 2em;}
.fixture_detailed .fd_speed .content .allTotal a{ background-color: #f76b4a; color: #fff; margin-top: 30px; padding:5px 20px}
/*-竣工-*/
.fixture_detailed .fd_speed .content .appraise{ margin: 25px 0 15px; }
.fixture_detailed .fd_speed .content .appraise li{ font-size: 1.3em ;float: left; margin-right: 3%; border-radius:8px; border: 1px solid #e5e5e5; padding:6px 10px;}
.fixture_detailed .fd_speed .content .appraise li.cur{ color: #f76b4a;border-color: #f76b4a;}
.fixture_detailed .fd_speed .content .appraise li .iconfont{ font-size: 1.3em ; margin-right:2px;}
.fixture_detailed .fd_speed .content .compile{ font-size: 1.2em; border: 1px solid #e5e5e5; padding:15px 20px;width:86%}
.fixture_detailed .fd_speed .content .sub_appraise a{ width: 180px; background-color: #f76b4a; color: #fff ;font-size: 1.5em;text-align: center; display:block;border-radius:5px; margin: 20px auto 35px; line-height:2.6em}
/*.appraise input:checked+span{background:#f00;}*/

/*-付款-*/
.fixture_detailed .onlinePost{margin:20px auto;overflow: hidden}
.fixture_detailed .onlinePost .post_text{margin-bottom: 10px;padding-left: 20%;}
.fixture_detailed .onlinePost .post_text p{font-size:.8rem;color: #666;}
.fixture_detailed .onlinePost .post_text span{ font-size:1.6rem; color:#f76b4a}
.fixture_detailed .onlinePost .post_btn{width: 50%;padding: 10px 0;margin: 0 auto; background-color: #f76b4a; color: #fff ;font-size: 1.1rem;text-align: center;border-radius:5px;}

/*payList*/
.payList{padding:2% 3% 1%; position: relative }
.payList_ico{ width:120px; height: 120px;line-height: 120px; border-radius: 50%; border: 3px solid #fff;text-align: center; background-color: #dbf4ff;position: absolute; top:25px; margin-left:-60px; left:50%;}
.payList_ico .iconfont{color: #37a5e7;font-size: 4rem; }
.payList_details{background-color: #fff; padding:80px 3% 10%; margin-top:80px; text-align: center }
.payList_details .title{  color:#999; font-size: 1.0rem;background-color: inherit !important;}
.payList_details li{ padding:10px 0; clear: both;}
.payList_details .title .title_h,.payList_details .total .total_q{width: 33%}
.payList_details .total{ font-size: 1.3rem; color: #31a2e6;}
.payList_details .message_h,.payList_details .message_q{ width: 33%; line-height: 2em; font-size: 1.5em}
.payList_details .message_q{ line-height:3rem;}
.payList_details .message_h p{ line-height:0.5rem; font-size: 0.8rem}
.payList_details  li:nth-of-type(odd){background-color: #eef3fa;}
.payList_details .orange{ color: #f76b4b}
.payList_details .gray{ color: #999}

/**我的套餐包**/
.comboBag,.bespeak{ background-color: #fff; padding: 10px;font-size:1rem; width:90%;margin: 5px auto;}
.comboBag_title,.comboBag_info,.comboBag_total{  padding:10px; overflow:hidden}
.comboBag_title .besp .iconfont{font-size: 1.4rem;width: 36px;height: 36px;text-align: center;line-height: 36px;display: inline-block; border-radius:5px; background-color:#f76b4a;color: #fff;}
.comboBag_title .besp .iconfont.blue{background-color:#4bb6f7;}
.comboBag_title .head{ width: 80%;}
.comboBag_title .head .name{ font-size:1.0rem;}
.comboBag_title .head .name i{ width:27px; height:27px; margin-top:3px;}
.comboBag_title .head p{ color:#ccc; font-size:0.6rem; margin-top:0}
.comboBag_info{ border-top: solid 1px #ccdef7; border-bottom: solid 1px #ccdef7;color: #3c9bd4;}
.comboBag_info span{ margin-left:10%}
.comboBag_total{ padding-top:15px;}
.comboBag_total .sum{ color:#f76b4a; }
.comboBag_total .sum span{font-size:1.5rem;}
.comboBag_total .sub,.comboBag_total .cancel,.comboBag_total .pay,.comboBag_total .ban{ padding:6px 7px; border-radius:4px;font-size: 0.8rem }
.comboBag_total .sub{ background-color:#b6bdc8; color:#fff;}
.comboBag_total .cancel{color:#4bb6f7; border:1px #4bb6f7 solid; margin-right:10px}
.comboBag_total .pay{ background-color:#4bb6f7; color:#fff}
/*--我的预约---*/
.comboBag_title .besp{width:18%; }
.comboBag_total .ban{color:#c9c9c9; border:1px #c9c9c9 solid; margin-right:20px}
.comboBag_state{ color: #c9c9c9; font-size: 0.8rem; line-height:2rem}

/*-----------------------账户余额---------------------*/
.container { width: 100%; margin: 0 auto; overflow: hidden; }
.contentTop { background-color: #32a2e6; }
.balancebox { padding: 20px 0 30px 15px; }
.balancebox p { color: #fff; margin-bottom: auto;font-size:1.0rem;  }
.balancebox .balance_number { text-align: center; font-size: 3rem; margin-top: 15px; }

.balancebox .recharge {  display: none;  width: 75px;  height: 35px;  position: absolute;  right: 15px;  top: 10px;  text-align: center;  line-height: 35px; }
.balancebox .recharge a { width: 100%;  height: 35px;  text-align: center;  color: #fff;  display: block;  font-size: 14px;  position: absolute;  z-index: 2;  }
.account_operation {width: 100%;background: rgba(250,250,250,0.2); padding:0;margin:0;display:block; height:65px; }
.account_operation li { width: 45%; float: left;margin: 0px 2%; height:49px;line-height: 49px; font-size:2.0rem;border: 1px #32a2e6 solid;border-radius: 5px; color: #32a2e6; text-align: center; font-size: 16px;}
.account_operation li:nth-child(2){color: #fff;background-color: #32a2e6;}
.balancebox i{  font-family: "iconfont";  display: block;  position: absolute;  left: 25px;  top: 22px;  line-height: 48px;  font-size: 48px;  color: #fff;  }

/*用户充值 & 邀请好友*/
.inputbox {  border: 1px solid #e1e1e1;  border-radius: 5px;  background: #fff;  padding: 9px 12px;  }
.paybox {  display: block;  margin: -9px -12px;  padding: 33px 15px 33px 75px;  font-size: 16px;  color: #333;  position: relative;  }
.paybox i {  font-size: 36px;  display: block;  position: absolute;  left: 28px;  top: 50%;  transform: translateY(-50%);  -webkit-transform: translateY(-50%); color: #999; }
.inputbox > label {  width: 1%;  min-width: 65px;  padding-right: 10px;  vertical-align: top;  font-size: 15px;  color: #666;  }
.inputbox > input { line-height: 20px; }
input[type='submit'], .mui-btn-primary, .mui-btn-blue {  color: #fff;  border: 1px solid #f76b4b;  background-color: #f76b4b; border-radius: 6px; }
.mui-btn-block {  font-size: 18px;  display: block;  width: 100%;  margin-bottom: 10px;  padding: 6px 0;  }
.recommendBox .recommend_center{background: url(../images/recommend_centerbg.png) repeat-y center;background-size: 100%;}
.recommendBox .recommend_center > *{margin: 0 20px;}
.recommendBox .recommend_center textarea{word-break:break-all;width: 88%;border: 0;color:#666;border-radius: 6px;font-size: 1.0rem;padding: 4px;-webkit-user-select:none;-moz-user-select:none; -ms-user-select:none; user-select:none;}
.recommendBox .recommend_headbg{height:140px;background: url(../images/recommend_headbg.png) no-repeat center;background-size: 100%;}
.recommendBox .recommend_footbg{height:120px;background:#fbcf09 url(../images/recommend_footbg.png) top center no-repeat;background-size: 100%;}
.recommendBox .rec_text{line-height:26px;font-size: 1rem}
.recommendBox .rec_text h2{text-align: center;font-size: 1.4rem}
.recommendBox .btn{width:100%;display:inline-block;text-align:center;color:#fff;border-radius: 4px; border:0; font-size:18px; padding:3% 0; margin-top:5%;background-color:#f76b4a;}
.recommendBox .colorBtn{ background-color:#f4af12;}
/* 微信好友分享 */
#mcover{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.7);display:none;z-index:20000}
#mcover img{position:fixed;right:0;top:0;width:260px!important;z-index:20001}

/*银行卡页面*/
.bankcart{width:100%;clear:both;text-align:center;}
.bank_bg1{background:#1866a4;}
.bank_bg2{background:#c65157;}
.bankcardlist{width:96%;height:100px;margin:15px auto;border-radius:10px;position:relative;color:#fff;}
.bank_number{position:absolute;right:15px;bottom:15px;font-size:1.2rem;}
.bank_type{position:absolute;left:70px;top:25px;text-align:left;line-height:150%;font-size:1.0rem;}
.bank_img{position:absolute;left:15px;top:25px;text-align:left;}
.bank_edit{position:absolute;right:15px;top:15px;font-size:1.2rem;}
.bank_edit i.iconfont{color:#ccc;margin-right:5px;}
.add_bankcard{font-size:1.0rem;width:96%;margin:0px auto;margin-bottom:35px;text-align:left;border-bottom:1px solid #ccc;padding:10px 0px 10px 0px;}
.add_bankcard i.iconfont{margin:0px 10px;font-size:1.4rem;}
.add_bankcard a{color:#787e7c;}
.addhead{background:#eee;width:100%;padding:15px 0;font-size:1.0rem;}
.addhead span{margin-left:15px;color:#989898;}
.addlistbg{background:#fff;width:100%;}
.addlist{clear:both;margin:0px 15px;}
.addlist li{font-size:1.0rem;list-style:none;padding:15px 0;border-bottom:1px solid #dedede;}
.addlist li.bordnone{border:none;}
.addlist li label{display:inline-block;min-width:30%;}
.addbutton_out{width:100%;text-align:center;}
.addbutton{background:#f7804b;width:90%;border-radius:10px;margin:0px auto;font-size:1.0rem;padding:15px 0;color:#fff;margin-top:15px;outline:none;}
.payment-list img {width: 48px;height: 48px;-webkit-border-radius: 50%;border:2px #fff solid;background:#fff;}
.payment-list span.card_icbc {background-position: 0 0;}
.bank_default{position:absolute;right:15px;top:30%;font-size:1.4rem;}

/*优惠券*/
.tab-selected a{color:#fff;}
.header-table { width: 100%;  z-index: 10;  box-shadow: 0 1px 3px #ccc;  max-width: 640px;  height: 50px;  background-color: #fff;  -webkit-transform: translateX(-50%);  transform: translateX(-50%);  -moz-transform: translateX(-50%);  }
.header-table .tab-selected { background-color: #f76b4b; color: #fff; }
.header-table .mui-table-cell { color: #333; }
.header-table .mui-table-cell a{ height:50px;line-height:50px;display:block; }
.header-table .tab-selected p.tab-line { color: #fff; border-color: transparent; }
.header-table .mui-table-cell .tab-line { border-left: 1px solid #E1E1E1; }
.header-table .mui-table-cell p { margin-bottom: 0; }
.coupon-lists { padding: 10px; }
.useinfo{position:absolute;right:0px;top:0px;width:72px;height:55px;background:url('../images/useinfo_01.png') no-repeat;}
.useinfo_01{background-position:2px 0;}
.useinfo_02{background-position:2px -55px;}
.useinfo_03{background-position:2px -110px;}
/*mui.css*/
.mui-col-xs-1,
.mui-col-sm-1,
.mui-col-xs-2,
.mui-col-sm-2,
.mui-col-xs-3,
.mui-col-sm-3,
.mui-col-xs-4,
.mui-col-sm-4,
.mui-col-xs-5,
.mui-col-sm-5,
.mui-col-xs-6,
.mui-col-sm-6,
.mui-col-xs-7,
.mui-col-sm-7,
.mui-col-xs-8,
.mui-col-sm-8,
.mui-col-xs-9,
.mui-col-sm-9,
.mui-col-xs-10,
.mui-col-sm-10,
.mui-col-xs-11,
.mui-col-sm-11,
.mui-col-xs-12,
.mui-col-sm-12 { position: relative; min-height: 1px; }
.mui-table-cell { position: relative; display: table-cell; vertical-align: middle; }
.coupon-lists .coupon-list { position: relative; margin-bottom: 10px; height: 0; padding-top: 28%; }
.coupon-list .coupon-content { background: url('../images/use.png') no-repeat center top / 100% 100%; color: #fff; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.coupon-list .coupon-content .mui-table { height: 100%; }
.coupon-content .coupon-pic { border-right: 1px dashed #fff; padding-left: 10px; }
.coupon-content .coupon-pic .coupon-numb { margin-bottom: 0; line-height: 50px; font-size: 1.4rem; color: #f76b4b; font-weight: 700; text-align: center; }
.coupon-content .coupon-pic .coin {  font-family: "微软雅黑";  font-size: 18px;  color: #f76b4b;  }
.coupon-content .coupon-pic .coupon-tips { color: #6a6a6a; font-size: 12px; text-align: center; margin-bottom: 0; margin-top: -5px; }
.coupon-content .coupon-info {  padding: 10px 32px 10px 10px; }
.coupon-content .coupon-info h5 {  margin: 0;  font-size: 0.8rem;  color: #333;  padding-top: 5px; }
.coupon-content .coupon-info p {  color: #f76b4b;  font-size: 0.8rem;  line-height: 1.0rem;  display:table;  margin:0;  margin-top: 8px;  padding:0; }
.mui-col-xs-4 { width: 33%; }
.mui-col-xs-8 { width: 66%; }
.mui-table { display: table; width: 100%; table-layout: fixed; }
.mui-text-center { text-align: center !important; }
.margin-r-5 {margin-right: 5px !important; }
.mui-pull-left { float: left; }
.margin-t-5 {margin-top: 5px !important; }

/*-----------在线支付------------*/
.cartbuy .formdl h3{text-align: center;font-size: 1.6rem;padding-bottom: 30px}
.cartbuy .formdl{padding: 50px 20px 0px 20px;}
.cartbuy .mymoney .money_classify{border-bottom: 1px #c7c7c7 solid;padding: 18px 0;font-size: 1.2rem;}
.cartbuy .mymoney .money_classify  span .iconfont{font-size: 2.4rem;padding-right: 10px;}
.cartbuy .mymoney .money_classify  em .iconfont{font-size: 1.8rem;color: #d9d9d9;}
.cartbuy .mymoney .selected .money_classify  em .iconfont{color: #4ab6f7;}
.cartbuy .sum{padding-top: 30px;padding-bottom:20px;font-size: 1.2rem;}
.cartbuy .sum span{font-size: 1.4rem;}
.cartbuy .btn .submitbutton{width: 100%;background-color: #4ab6f7;color: #fff;padding: 12px 0;font-size: 1.2rem;border-radius: 4px;}

