@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
a,a:hover{color:#fff;text-decoration:none;border:0px;}
/* focusBar */
#focusBar li{width:100%;clear:both; height:620px;display:none;position:absolute;/* position:relative;*/}

a.arrL,a.arrR {display:block;width:52px;height:134px;position:absolute;top:250px;z-index:9999;cursor:pointer;background:url("../images/bt_arr.png")/*tpa=http://www.qkhtml.com/Case/wazqxysqdkf/images/bt_arr.png*/ no-repeat;}
a.arrL{left:-52px;background-position:0px 0px;}
a.arrR{right:-52px;background-position:-68px 0px;}
a.arrL:hover{background-position:0px -144px;}
a.arrR:hover{background-position:-68px -144px;}
.mypng li{
	width: 100%;
}