/* CSS Document */
*{ margin:0; padding:0;}
body{ margin:0; padding:0; background:url(../images/cmbg.png) #e6e3d3 top no-repeat; font-size:14px;color:#3e3a39; font-family:"新宋体-18030";}
a{ border:none; text-decoration:none; color:#3e3a39;}
img{ border:none;}
li{ list-style-type:none;}
@font-face {
    font-family: '新宋体-18030';
    src: url('images/新宋体-18030.eot');
    src: url('images/新宋体-18030.eot?#iefix') format('eot'),
         url('images/新宋体-18030.woff') format('woff'),
         url('images/新宋体-18030.ttc') format('truetype'),
         url('images/新宋体-18030.svg#webfontjKg17VrE') format('svg');
}
.main{ width:1000px; margin:0 auto; overflow:hidden}
/*-- head --*/
.head{ width:100%; height:auto; float:left; display:inline; margin:34px 0px 14px 0px; font-family:"微软雅黑"; color:#595757;}
.head .logo{ float:left; margin-top:10px;}
.head .search{ float:right;width:390px;height:auto; overflow:hidden; }
.search ul.collect{ float:right; width:360px;}
ul.collect li{ float:right; margin-right:4px; padding:2px 0px;}
ul.collect li span{ margin-left:4px;}
.search i{ display:block; width:100%; float:right; text-align:left; font-style:normal;background:url(../images/share111.png) right no-repeat;}
#bdshare{}
.search i p{ float:left; padding:2px 0px;}
.search em{ display:block; float:right;text-align:right;font-style:normal; font-size:14px; padding-top:6px; overflow:hidden;}
.search em img{ overflow:hidden; padding:0; margin:0;}
.search em span.zx{ float:left;display:block; height:30px; text-align:left; overflow:hidden; }
span.zx p{ float:left;line-height:19px; margin-top:1px;border-left:1px #a1a2a2 solid;border-top:1px #a1a2a2 solid;border-bottom:1px #a1a2a2 solid;}
.search em span.s{display:block; height:26px; float:left; overflow:hidden;}
span.s .intext{ float:left; background:url(../images/sbg_input.png) no-repeat; border:none; height:26px; width:120px; line-height:25px; text-indent:10px;font-family:"微软雅黑"; color:#c2c2c2;}
.search a{ color:#595757}

/*-- nav  --*/
.box{width:1000px; float:left; height:35px; font-size:15px;font-family:"微软雅黑"; background-color:#dcdddd;}
#current{ width:100px; height:35px; background:url(../images/nav_indexbg.png) no-repeat; background-position:left bottom; margin-left:0px;}
#current1 a:hover{ display:block;background:url(../images/nav_indexbg.png) no-repeat;background-position:0 -37px;}
.menu_in a:hover{background-position:0 -40px;}
.menu{ width:93px; height:35px; background:url(../images/nav_n.png) no-repeat;padding:0 15px; margin-left:-15px; float:left;}
.menu1{ width:100px; height:35px; background:url(../images/nav_n.png) no-repeat; padding:0 16px; margin-left:-15px; float:left;}
.m_hover{ background-position:0 -40px;}
.menu p{ line-height:34px; color:#595757; text-align:center; cursor:pointer; position:relative;}
.menu p a:hover{color:#fff;}
.menu ul{ display:none; z-index:100; position: absolute}
.menu ul li{width:105px;height:27px;background:url(../images/nav_hx.png) left top no-repeat;font-size:12px;line-height:25px;font-family:"微软雅黑";text-align:center;padding:0; position:absolute;}
.menu ul li.c10 {background:url(../images/nav_hd.png) no-repeat;height:11px;line-height:22px;color:#FFF}
.menu ul li.li_hover{}
.menu ul li a:link,.menu ul li a:visited,.menu ul li a:hover{ color:#fff; text-decoration:none; display:block;}



.subsc,.subscShow { z-index:50; position:relative; width:85px; }
.subscBn { cursor:pointer; position:relative; z-index:2; overflow:hidden; height:29px; }
.subscShow .subscBn { height:28px; }
.subscShow .subscBox { display:block; }
.subscBox { display:none; z-index:1; position:absolute; left:-3px; top:27px; width:336px; height:294px;}
.subscBox ul { width:336px; height:294px; background:url(../images/top_24.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale", src="images/top_24.png", sizingMethod="crop"); }
.subscBox ul li.t { padding:10px 0; color:#8A271E; font-size:14px; font-weight:bold; text-align:center; }
.subscBox ul li { float:left; overflow:hidden; width:100%; height:auto; margin:11px 0 0 0; padding:0; }
.subscBox ul li label { float:left; width:85px; color:#737373; text-align:right; line-height:29px; }
.subscBox ul li .in { position:relative; float:left; width:235px; height:29px; border:none; background:url(../images/top_21.gif) no-repeat; font-size:12px; line-height:29px; text-indent:3px; }
.subscBox ul li.bn { width:auto; }
.subscBox ul li.bn input { position:relative; cursor:pointer; display:block; width:63px; height:27px; margin-left:85px; border:none; background:url(../images/top_23.gif) no-repeat; color:#fff; font-size:12px; text-align:center; line-height:27px; }

/* focus */
.focus{ width:100%;float:left;}
.container1 {width:1000px;height:350px;float:left;}
.folio_block {position: absolute;}
.main_view {float: left;position: relative;}
.window1 {height:350px;	width:1000px;overflow: hidden; /*--Hides anything outside of the set width/height--*/	position: relative;}
.image_reel {position: absolute;top:2px;left:2px;}
.image_reel img {float: left;}
.paging {position: absolute;bottom: 0px; right:0px;width:80px; height:30px;z-index: 100; /*--Assures the paging stays on the top layer--*/text-align: center;line-height: 40px;background: url(paging_bg2.png) no-repeat;display: none; /*--Hidden by default, will be later shown with jQuery--*/}
.paging a { display:block; float:left; width:11px; height:11px; margin-right:5px;text-decoration: none;color:#000;background:url(../images/hw.png) no-repeat;}
.paging a.active {font-weight: bold;background:url(../images/hw_hover.png) no-repeat; color:#fff;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;}
.paging a:hover {font-weight: bold;}
/*--content-index--*/
.content{ width:100%;float:left; overflow:hidden;}
.content .cont{ float:left; width:100%; padding-top:22px;font-size:12px; font-family: "宋体-18030，新宋体-18030"}
.cont .topic{ float:left;width:322px; display:inline; height:auto;padding-right:14px; overflow:hidden; }
.cont .topic1{ float:right;width:322px; height:auto; overflow:hidden;}
.contitle{ width:100%; height:22px; border-bottom:1px #999999 solid; text-indent:2em; font-size:17px; font-family:"微软雅黑";color:#595757; overflow:hidden;}
.contitle span{ float:left; display:block; background:url(../images/logo_icon.png) left no-repeat;}
.contitle i{ float:right; padding-top:4px;}
.topic ul.trends{ width:100%; float:left; padding-top:5px; height:210px; overflow:hidden;}
ul.trends li{ padding:4px 0px; border-bottom:1px #999 dotted;}
ul.trends li span.icon1{ width:5px; height:5px; float:left; background:url(../images/icon1.png) no-repeat; margin:3px 6px auto 5px;}
.topic ul.information{ width:100%; float:left; padding-top:5px; height:95px; overflow:hidden;}
ul.information li{ padding:4px 0px; border-bottom:1px #999 dotted;}
ul.information li span.icon1{ width:5px; height:5px; float:left; background:url(../images/icon1.png) no-repeat; margin:3px 6px auto 5px;}
.video{ width:100%; height:22px; padding-top:13px; border-bottom:1px #999999 solid; text-indent:2em; font-size:17px; font-family:"微软雅黑";color:#595757; overflow:hidden;}
.video span{ float:left; display:block; background:url(../images/logo_icon.png) left no-repeat;}
.video i{ float:right; padding-top:4px;}
ul.video_list{width:100%; float:left; padding-top:5px; height:72px; overflow:hidden;}
ul.video_list li{ padding:4px 0px; border-bottom:1px #999 dotted;}
ul.video_list li span.icon1{ width:5px; height:5px; float:left; display:inline-block; background:url(../images/icon1.png) no-repeat; margin:3px 6px auto 5px;}
.topic1 .announ{ float:left; margin-top:5px; width:320px; height:120px; display:inline; border:1px #9fa0a0 solid; overflow:hidden;}
ul.announ_list{width:90%; float:left; padding-top:4px; padding-left:14px;overflow:hidden;}
ul.announ_list li{ line-height:22px;}
ul.announ_list li h3{ text-align:center; font-family:"微软雅黑"; font-size:15px; color:#a0101c; font-style:normal}
ul.announ_list li span{ color:#a0101c;}

.dtitle{ width:100%; height:22px; padding-top:10px; border-bottom:1px #999999 solid; text-indent:2em; font-size:17px; font-family:"微软雅黑";color:#595757; overflow:hidden;}
.dtitle span{ float:left; display:block; background:url(../images/logo_icon.png) left no-repeat;}
.dtitle i{ float:right; padding-top:4px;}
.topic1 .direct{ float:left; margin-top:5px; width:320px; height:110px; display:inline; border:1px #9fa0a0 solid; overflow:hidden;}
.direct span.d_title{ display:block;border-bottom:1px #9fa0a0 solid; overflow:hidden; width:100%;}
.direct span.d_title h3{ display:block; width:104px; float:left;color:#a0101c;text-align:center; font-family:"微软雅黑"; font-size:15px; color:#a0101c; font-style:normal}
.scrollText{height:90px;float:left;overflow:hidden}
ul.direct_list{ float:left;overflow:hidden;}
ul.direct_list li{overflow:hidden; line-height:28px;}
ul.direct_list li em{ display:block; width:104px;height:22px; float:left; text-align: center; font-style:normal;overflow:hidden;}
.picture{ float:left; padding-top:5px; overflow:hidden;}

#indexMainBox{ float:left;width:1000px;height:90px; margin:8px 0px 10px 0px;}
.indexNav{width:998px;height:90px;float:left;}
.indexNav li{float:left;}
.indexNav li a{width:249px;height:90px;position:relative;display:block;overflow:hidden;text-indent:-999em;}

.index_nav1{background:url(../images/index_nav.png) no-repeat left top;}
.index_nav2{background:url(../images/index_nav.png) no-repeat -251px top;}
.index_nav3{background:url(../images/index_nav.png) no-repeat -502px top;}
.index_nav4{background:url(../images/index_nav.png) no-repeat -752px top;}
.index_nav1Hover,.index_nav2Hover,.index_nav3Hover,.index_nav4Hover,.index_nav5Hover{width:249px;height:90px;position:absolute;top:0;left:0;}
.index_nav1Hover{background:url(../images/index_navHover.png) no-repeat left top;}
.index_nav2Hover{background:url(../images/index_navHover.png) no-repeat -251px top;}
.index_nav3Hover{background:url(../images/index_navHover.png) no-repeat -502px top;}
.index_nav4Hover{background:url(../images/index_navHover.png) no-repeat -752px top;}

.imglist{ float:left; width:998px; height:70px;border:1px #d1cec5 solid;overflow:hidden;}
#demo {overflow:hidden; margin-top:4px;width:100%;}
#demo img {margin-right:60px;}
#indemo {float: left;width: 800%;}
#demo1 {float: left;}
#demo2 {float: left;}
/*--in_content--*/
.in_content{ width:100%;float:left; display:inline;margin-bottom:20px;background-color:#FFF; overflow:hidden;}
/*--left_box--*/
.left_box{ width:210px;padding:20px 0px 10px 15px; overflow:hidden; float:left;}
.left_box .left_topic{ float:left; width:208px;height:auto; margin-bottom:15px;overflow:hidden;border:1px #d7dfe9 solid;background:url(../images/left_topicbg.png) bottom repeat-x }
.left_topic .lix_title{float:left;width:100%; height:30px;overflow:hidden;text-align:left; border-bottom:1px #d5d9e2 solid; background:url(../images/lix_titlebg.png) no-repeat }
.lix_title i{ float:left; padding:5px 8px 0px 16px;}
.lix_title i img{ border:none;}
.lix_title h3 { display:block;padding:8px 0px 0px 4px;color:#182828;font-weight:bold;font-size:14px;}
.left_topic ul.bl{height:auto;margin-left:10px; margin-top:10px; margin-bottom:20px;}
.left_topic ul.bl li{ width:188px;line-height:32px; font-size:14px; text-align:left; text-indent:0.7em; border-bottom:1px #d5d9e2 dotted;}
.left_topic ul.bl li span{ float:left; display:block;}
.left_topic ul.bl li a{color:#666666;}
.left_topic ul.bl li a:hover{color:#666666;}
.left_topic ul.bl li a:visited{ color:#4477aa;}
.left_box img{ border:1px #d7dfe9 solid;}
/*--right_box--*/
.right_box{ width:745px;padding:20px 10px 10px 0px; overflow:hidden; float:right;}
.right_topic{width:100%; height:30px; background:url(../images/right_topicbg.png) bottom repeat-x; border-bottom:1px #d7dfe9 solid;}
.right_topic h3{ float:left;padding:10px 20px 0 15px;font-weight:normal;color:#4477aa; font-size:14px;font-family:"新宋体-18030";}
.right_topic p{float:right;padding:10px 16px 0 0; text-align:right;font-size:12px; color:#666666;}
.right_topic p strong{ color:#4477aa; font-weight:normal; margin-left:4px;}
.icon2{ width:15px; height:15px; float:left; padding-right:10px; background:url(../images/icon2.png) no-repeat;}
/*--文本区域--*/
.in_text{ width:96%; height:auto;margin:25px 10px auto 10px; color:#221815; line-height:27px; font-family:"新宋体-18030";text-align:justify;text-justify:inter-ideograph}
.in_text img{ float:left; padding:0px 15px 15px 0px; margin:0; text-indent:0px;}
.in_text p{text-indent:2em;}

/*视频列表*/
.e8{overflow:hidden; margin-left:15px; padding:0;}
.e8 li{width:170px;height:160px;float:left;display:block;overflow:hidden; margin-right:4px;text-align:center;}
.e8 li .pic{width:170px;height:136px;display:block;text-align:left;overflow:hidden;}
.e8 li .pic img{width:152px;height:130px;display:block;border:1px #999 solid; padding:1px;}
.e8 li .caption{height:20px;display:block;line-height:20px;overflow:hidden;}
.e8 li a.caption{ color:#000;}
/*--信息公开--*/
.in_message{ width:97%;height:auto;margin:25px 10px auto 10px; color:#221815; line-height:27px; font-family:"新宋体-18030";}
ul.f1 li{text-align:left;width:718px;line-height:29px;margin-top:1px; border-bottom:1px #CCC dashed; overflow:hidden;}
ul.f1 li span.f1_1{display:block; width:5px; height:5px;text-align:center; line-height:15px;float:left; margin-top:12px;float:left; margin-left:10px; margin-right:10px;overflow:hidden;color:#9fa0a0; background:url(../images/icon4.png) no-repeat;}
ul.f1 li span{display:block; float:right;margin-right:8px;}
ul.f1 li a{ color:#333333;}
ul.f1 li a:hover{ color:#333333;}
ul.f1 li a:visited{ color:#4477aa;}

/*信息公开-文本区域*/
.listbox .headline{clear:both;margin:0 auto;font-family:"新宋体-18030";}
.listbox  h4{font-size:16px;color:#4477aa; text-align:center; overflow:hidden;font-family:"新宋体-18030";}
.listbox .info{height:24px;line-height:17px;text-align:center;overflow:hidden;color:#333333; border-bottom:1px #999999 solid}
.listbox .info small{margin-left:8px;margin-right:3px;color:#333333;font-size:12px;}
.listbox .info a{color:#690;}
.listbox .article{ width:90%; height:auto; margin:0 auto; margin-top:10px;}
.listbox .article p{text-indent:2em; line-height:30px;}
.listbox .article img{width:auto; height:auto;}
/*支持我们*/
.words{overflow:hidden; height:auto; font-size:12px;}
.words i{ font-style:normal;}
p.ask{ color:#6d6d6d; border-top:1px #CCC dotted; padding:5px 0px;}
p.answer{ padding:5px 0px; color:#4477aa;border-top:1px #CCC solid;border-bottom:1px #CCC dotted; overflow:hidden;}
span.time{ width:100%; display:block; float:left; text-align:right; color:#666666; overflow:hidden; font-size:14px; font-family:"宋体"; color:666666;}

dl.collect{ padding-left:80px;}
dl.collect dt{float:left;padding:12px 0 4px;width:70px; font-size:12px;font-family:"新宋体-18030";}
dl.collect dd{ text-align:left;height:auto;padding:12px 0px;}
dl.collect dd span.red{ margin-left:5px;color:#F33}
dl.collect input{ vertical-align:middle;font-family:"新宋体-18030";}
dl.collect textarea{line-height:150%;overflow: scroll-x;font-family:"新宋体-18030"; }

ul.post{ float:left; margin-left:42px; display:inline;overflow:hidden;}
ul.post li.zp{background-color:#4477aa; color:#fff; font-family:"微软雅黑"; font-size:15px; border:none; }
ul.post li{ float:left; width:640px; padding:2px 0px; font-size:12px; height:auto; border-bottom:1px #CCC dashed;}
ul.post li em{ display:block; width:212px; float:left; text-align: center; font-style:normal;overflow:hidden;}
ul.post li em.align{ text-align: center;}

.in_jk{ float:left;width:744px; height:auto; overflow:hidden;}
.jk_fs{width:744px; height:61px;background:url(../images/jk.png) no-repeat; }
.jk_fs a{ display:block;width:30px; height:18px; position:relative;}
.jk_fs a span{cursor:pointer;}
a.jk1{ display:block;top:35px; left:242px;text-indent:-9999px;}
a.jk2{ display:block;top:15px; left:473px;text-indent:-9999px;}
.jk_tit{ padding:20px 0 0 0px;}
.jk_tit li{ float:left; width:235px; margin-right:12px;}
.jk_p{ padding:30px 0px 0px 0px;}
.jk_p li{ float:left; margin-right:9px;}
.bank{ width:auto; height:auto;font-family:"新宋体-18030";}
.bank h3{ padding-left:70px; font-family:"微软雅黑"; color:#e60012; font-size:14px; font-style:normal;}
.bank p{ padding:0px 0px 20px 76px; color:#221815; line-height:30px;}

.jk_all{width:1000px; height:61px;background:url(../images/jk2.png) no-repeat; }
.jk_all a{ display:block;width:30px; height:18px; position:relative;}
a.jka1{ display:block;top:35px; left:298px;text-indent:-9999px;}
a.jka2{ display:block;top:15px; left:533px;text-indent:-9999px;}
.table_a{margin:0 auto; width:760px; overflow:hidden;margin-top:50px; margin-bottom:50px;font-family:"微软雅黑";color:#221815;}
.table_b{margin:0 auto; width:870px; overflow:hidden;margin-top:30px; margin-bottom:50px;}
.table_b h1{ text-align:center; font-size:18px; font-family:"微软雅黑"; color:#4477aa; font-weight:500; padding-bottom:15px;}
span.jktitle{width:100%;height:30px;color:#FFF;text-indent:3em;line-height:34px;font-family:"微软雅黑";font-weight:700;background-color:#4477aa;display:block;}
.red{ color:#e60012;}
.tablep{ margin:0 auto; border-collapse:collapse;font-size:12px;font-family:"微软雅黑";color:#221815;}
.tablep td{text-align:left;padding:3px 6px;line-height:24px;border:1px #b5b6b6 solid;font-family:"微软雅黑";color:#221815;}
.tablep .ttitle{ text-align:right;}  
.table_a .submit{ float:left; margin-top:10px; margin-left:263px;overflow:hidden;}
.table_b .submit1{ float:right; margin-top:10px;overflow:hidden;}
.table_b input{margin-right:10px;}
.table_b select{ width:110px; margin-right:10px;}
.submit li{ float:left; margin-right:50px;}
.submit1 li{ float:right; margin-right:20px;}
/*--项目申请--*/
.in_item{height:auto; overflow:hidden;}
.in_item h3{ margin-top:20px; margin-bottom:10px; text-align:center;font-family:"微软雅黑"; font-size:18px; color:#4477aa; }
.apply_table{ margin:0 auto; border-collapse:collapse;}
.apply_table i{ font-style:normal; margin-right:6px; font-size:13px;}
.apply_table td{text-align:left;padding:3px 6px;font-size:13px;font-family:"宋体";color:#595757;line-height:24px;border:1px #b5b6b6 solid;}
.apply_table td.title_t{ width:170px; text-indent:2px;}
.lianxi li{ width:110px;padding:6px 0px; border-bottom:1px #CCC solid; overflow:hidden;}
.import li{ padding:8px 0px;border-bottom:1px #b5b6b6 solid;}
.lianxi2 li{ border-bottom:1px #CCC solid; padding:6px 0px; overflow:hidden;}
.import2 li{ padding:8px 0px;border-bottom:1px #b5b6b6 solid;}
p.apply_title{ display:block;float:left;width:650px;font-size:12px;color:#221815;padding:5px 0px;text-indent:9px;margin-left:47px;background-color:#dadada;}
.submit2{ margin-left:270px; margin-top:10px;}
.submit2 li{ float:left; margin-right:50px; width:87px; height:24px; line-height:26px; text-indent:1em;background:url(../images/submitbg.png) no-repeat;}
/*--招贤纳士--*/
.job{height:auto; overflow:hidden;}
.table_job h1{ margin-top:20px; margin-bottom:4px; text-align:center;font-family:"微软雅黑"; font-size:18px; color:#4477aa; }
.job_list{margin:0 auto;margin-top:10px; margin-bottom:50px;border-collapse:collapse;}
.job_list td{text-align:left;padding:3px 6px;font-size:12px;font-family:"宋体";color:#595757;line-height:24px;border:1px #b5b6b6 solid;}
.table_job .ttitle1{ text-align:right; width:150px;word-wrap: break-word; 
word-break: normal; }  
/*--foot--*/
.foot{ width:100%; height:auto; overflow:hidden; padding:26px 0px; font-size:12px;text-align:center; color:#000;font-family:"宋体";}